@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  margin: 0 !important;
  padding: 0;
  box-sizing: border-box;
}

.loading {
  opacity: 0;
}
.loaded {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
